# Atividades de aquecimento

**Extremely basic:**

In [ ]:

print("Insira dois numeros: ")
a = float(input())
b = float(input())
x = a+b
print("A soma deles é: ", x)

Insira dois numeros:
12.3
32
A soma deles é:  44.3

**Area of a Circle:**

In [ ]:
pi = 3.14159

print("AREA DE UM CIRCULO")

raio = float(input("Insira o raio do circulo: "))
A = (raio**2.0)*pi

print("A área de um circulo com raio ",raio," é igual a:", A)

AREA DE UM CIRCULO
Insira o raio do circulo: 12
A área de um circulo com raio  12.0  é igual a: 452.38896

**Simple sum:**

In [ ]:
a = float(input("Insira o seu primeiro numero:"))
b = float(input("Insira o seu segundo numero:"))

SOMA = a+b

print("SOMA :" , SOMA)

Insira o seu primeiro numero:12
Insira o seu segundo numero:2
SOMA : 14.0

**Simple product:**

In [ ]:
a = float(input("Insira o seu primeiro numero:"))
b = float(input("Insira o seu segundo numero:"))

PRODUTO = a*b

print("PRODUTO :",PRODUTO)

Insira o seu segundo numero:2
PRODUTO : 4.0

**Average 1:**

In [ ]:
nota1 = float(input("Insira a primeira nota do aluno: "))
nota2 = float(input("Insira a segunda nota do aluno: "))

nota_final = ((nota1*3.5)+(nota2*7.5))/(3.5+7.5)

print("A media ponderada do aluno com respectivos pesos 3.5 e 7.5 é: ",nota_final)

Insira a primeira nota do aluno: 5.0
Insira a segunda nota do aluno: 7.1
A media ponderada do aluno com respectivos pesos 3.5 e 7.5 é:  6.431818181818182

**Average 2:**

In [ ]:
nota1 = float(input("Insira a primeira nota do aluno: "))
nota2 = float(input("Insira a segunda nota do aluno: "))
nota3 = float(input("Insira a terceira nota do aluno: "))

nota_final = ((nota1*2)+(nota2*3)+(nota3*5))/(2+3+5)

print("A media ponderada do aluno com respectivos pesos 2 , 3 e 5 é: ",nota_final)

**Difference:**

In [ ]:
a = float(input("Insira o primeiro numero:"))
b = float(input("Insira o segundo numero:"))
c = float(input("Insira o terceiro numero:"))
d = float(input("Insira o quarto numero:"))

print("DIFERENCA : ",(a*b)-(c*d))

Insira o quarto numero:6
DIFERENCA :  -28.0

**Salary:**

In [26]:
numero = int(input("Insira o numero do funcionario: "))
horas = float(input("Insira a quantidade de horas trabalhadas no mês:"))
pag_hora = float(input("Insira o pagamento dele/dela por hora: "))

print("NUMERO: ",numero,"\nSALARIO:",horas*pag_hora)

Insira o numero do funcionario: 123213213
Insira a quantidade de horas trabalhadas no mês:5
Insira o pagamento dele/dela por hora: 25
NUMERO:  123213213
SALARIO: 125.0

**Salary with bonus:**

**Simple calculate:**

**Sphere:**

**Area:**

**The greatest:**

**Consumption:**

**Distance Between Two Points:**