# Atividades de aquecimento

**Extremely basic:**

In [ ]:

print("Insira dois numeros: ")
a = float(input())
b = float(input())
x = a+b
print("A soma deles é: ", x)

Insira dois numeros:
12.3
32
A soma deles é:  44.3

**Area of a Circle:**

In [ ]:
pi = 3.14159

print("AREA DE UM CIRCULO")

raio = float(input("Insira o raio do circulo: "))
A = (raio**2.0)*pi

print("A área de um circulo com raio ",raio," é igual a:", A)

AREA DE UM CIRCULO
Insira o raio do circulo: 12
A área de um circulo com raio  12.0  é igual a: 452.38896

**Simple sum:**

In [ ]:
a = float(input("Insira o seu primeiro numero:"))
b = float(input("Insira o seu segundo numero:"))

SOMA = a+b

print("SOMA :" , SOMA)

Insira o seu primeiro numero:12
Insira o seu segundo numero:2
SOMA : 14.0

**Simple product:**

In [ ]:
a = float(input("Insira o seu primeiro numero:"))
b = float(input("Insira o seu segundo numero:"))

PRODUTO = a*b

print("PRODUTO :",PRODUTO)

Insira o seu segundo numero:2
PRODUTO : 4.0

**Average 1:**

In [ ]:
nota1 = float(input("Insira a primeira nota do aluno: "))
nota2 = float(input("Insira a segunda nota do aluno: "))

nota_final = ((nota1*3.5)+(nota2*7.5))/(3.5+7.5)

print("A media ponderada do aluno com respectivos pesos 3.5 e 7.5 é: ",nota_final)

Insira a primeira nota do aluno: 5.0
Insira a segunda nota do aluno: 7.1
A media ponderada do aluno com respectivos pesos 3.5 e 7.5 é:  6.431818181818182

**Average 2:**

In [ ]:
nota1 = float(input("Insira a primeira nota do aluno: "))
nota2 = float(input("Insira a segunda nota do aluno: "))
nota3 = float(input("Insira a terceira nota do aluno: "))

nota_final = ((nota1*2)+(nota2*3)+(nota3*5))/(2+3+5)

print("A media ponderada do aluno com respectivos pesos 2 , 3 e 5 é: ",nota_final)

**Difference:**

In [ ]:
a = float(input("Insira o primeiro numero:"))
b = float(input("Insira o segundo numero:"))
c = float(input("Insira o terceiro numero:"))
d = float(input("Insira o quarto numero:"))

print("DIFERENCA : ",(a*b)-(c*d))

Insira o quarto numero:6
DIFERENCA :  -28.0

**Salary:**

In [ ]:
numero = int(input("Insira o numero do funcionario: "))
horas = float(input("Insira a quantidade de horas trabalhadas no mês:"))
pag_hora = float(input("Insira o pagamento dele/dela por hora: "))

print("NUMERO: ",numero,"\nSALARIO:",horas*pag_hora)

Insira o numero do funcionario: 123213213
Insira a quantidade de horas trabalhadas no mês:5
Insira o pagamento dele/dela por hora: 25
NUMERO:  123213213
SALARIO: 125.0

**Salary with bonus:**

In [ ]:
nome = input("Insira o nome do funcionario: ")
salario_fixo = float(input("Insira o salario fixo do funcionario:"))
vendas = float(input("Insira o valor das vendas feitas pelo funcionario: "))

valor_final = salario_fixo + ((vendas*15)/100)

print("O salario final do funcionario ",nome," com um bonus de 15% com as vendas feitas pelo mesmo, e de: ",valor_final)

Insira o nome do funcionario: enzo
Insira o salario fixo do funcionario:1000
Insira o valor das vendas feitas pelo funcionario: 100
O salario final do funcionario  enzo  com um bonus de 15% com as vendas feitas pelo mesmo, e de:  1015.0

**Simple calculate:**

In [ ]:
produto1 = [int(input("Insira o codigo do produto: ")),
            int(input("Insira a quantidade: ")),
            float(input("Insira o preco por unidade do produto: "))]

produto2 = [int(input("Insira o codigo do produto: ")),
            int(input("Insira a quantidade: ")),
            float(input("Insira o preco por unidade do produto: "))]

print("Valor a pagar: ",(produto1[1]*produto1[2])+(produto2[1]*produto2[2]))

Insira o codigo do produto: 123213
Insira a quantidade: 2
Insira o preco por unidade do produto: 10
Insira o codigo do produto: 12321321312312
Insira a quantidade: 3
Insira o preco por unidade do produto: 10
Valor a pagar:  50.0

**Sphere:**

In [ ]:
pi = 3.1415926535897932384626433
raio = float(input("Insira o raio do esfera: "))
volume = (4/3)*pi*(raio**3)

print("O volume da esfera e:",volume)

Insira o raio do esfera: 3
O volume da esfera e: 113.09733552923254

**Area:**

In [ ]:
pi = 3.14159
a = float(input("Insira um valor flutuante: "))
b = float(input("Insira um valor flutuante: "))
c = float(input("Insira um valor flutuante: "))

print("TRIANGULO: ",a*b/2)
print("CIRCULO: ",pi*c**2)
print("TRAPEZIO: ",(a+b)*c/2)
print("QUADRADO: ",b**2)
print("RETANGULO: ",a*b)

Insira um valor flutuante: 3
Insira um valor flutuante: 4
Insira um valor flutuante: 5.2
TRIANGULO:  6.0
CIRCULO:  84.94859360000001
TRAPEZIO:  18.2
QUADRADO:  16.0
RETANGULO:  12.0

**The greatest:**

In [ ]:
a = int(input("Insira um valor inteiro: "))
b = int(input("Insira um valor inteiro: "))
c = int(input("Insira um valor inteiro: "))

x = (a+b+abs(a-b))/2
maior_numero = (x+c+abs(x-c))/2

print(maior_numero, "e o maior")

Insira um valor inteiro: 100
Insira um valor inteiro: 300
Insira um valor inteiro: 54
300.0 e o maior

**Consumption:**

In [ ]:
distancia = float(input("Insira a distancia percorrida em KM: "))
combustivel_gasto = float(input("Insira a quantidade em litros de combustivel gasto: "))

print(distancia*combustivel_gasto,"KM/L")

Insira a distancia percorrida em KM: 500
Insira a quantidade em litros de combustivel gasto: 35
17500.0 KM/L

**Distance Between Two Points:**

In [ ]:
import math as m

ponto1 = {
    'dx' : float(input("Insira a distancia x do ponto 1: ")),
    'dy' : float(input("Insira a distancia y do ponto 1: "))
    }

ponto2 = {
    'dx' : float(input("Insira a distancia x do ponto 2: ")),
    'dy' : float(input("Insira a distancia y do ponto 2: "))
    }

distancia = m.sqrt(((ponto2['dx']-ponto1['dx']))**2 + ((ponto1['dy']-ponto2['dy']))**2)

print("A distancia entre os dois pontos e:",distancia)

Insira a distancia x do ponto 1: 1
Insira a distancia y do ponto 1: 7
Insira a distancia x do ponto 2: 5
Insira a distancia y do ponto 2: 9
A distancia entre os dois pontos e: 4.47213595499958